body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: gradientAnimation 10s linear infinite alternate;
  background: linear-gradient(to bottom, #8ce1d8 0%, #518680 50%, #8ce1d8 100%);
  background-size: 100% 200%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
